body {
    text-align: center;
}

h3, h2, p, ul, li, img, div {
    padding: 0;
    margin: 0;
}

header {
    padding: 2rem;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}

li {
    list-style-type: none;
}

.btn-sort {
    padding-bottom: 1em;
}

img {
    height: auto;
    width: 100%;
}

.crd-container {
    margin: auto;
    padding: 0;
    text-align: left;
    max-width: 20em;
    border: solid navy;
}

.crd-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.crd-author {
    font-size: smaller;
    color: darkgray;
}

.crd-content {
    padding: 8px;
}

.crd-btn-cmt {
    width: 100%;
    height: 2.5em;
    color: aliceblue;
    background: blue;
    border-radius: 8px;
}