body {
}

h3, h2, p, ul, li, img, div {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.header {
    text-align: center;
    padding: 2rem;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}

.crd-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.crd-btn-cmt {
    width: 100%;
    height: 2.2em;
    background-color: #397ef5;
    color: aliceblue;
    font-weight: 600;
}

p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.btn-container {
    display: flex;
    margin-bottom: 1em;
    text-align: center;
    justify-content: space-around;
}

.crd-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    border: solid 5px;
}

.card {
    width: 250px;
    border: 5px solid greenyellow;
}

.card:hover {
    transform: scale(1.02, 1.02);
    transition: 500ms, transform 500ms;

}

img {
    width: 100%;
    transition: 500ms;
}

img:hover {
    filter: hue-rotate(90deg);
    filter: saturate(200%);
    animation-name: img-huerotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes img-huerotate {
    0% {
        filter: hue-rotate(-360deg);
    }
    20% {
        filter: hue-rotate(-260deg);
    }
    40% {
        filter: hue-rotate(-160deg);
    }
    60% {
        filter: hue-rotate(60deg);
    }
    80% {
        filter: hue-rotate(160deg);
    }
    100% {
        filter: hue-rotate(260deg);
    }
}

.card {
    animation-name: card-retate;
    animation-duration: 500ms;
    animation-iteration-count: 2;
}

@keyframes card-retate {
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

